@font-face {
    font-family: 'guia-icons';
    src: url('../fonts/guia-icons.eot?ccxhfq');
    src: url('../fonts/guia-icons.eot?ccxhfq#iefix') format('embedded-opentype'),
    url('../fonts/guia-icons.woff2?ccxhfq') format('woff2'),
    url('../fonts/guia-icons.woff?ccxhfq') format('woff'),
    url('../fonts/guia-icons.ttf?ccxhfq') format('truetype'),
    url('../fonts/guia-icons.svg?ccxhfq#guia-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.guia-icons {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'guia-icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.guia-icons.s-10px {
    font-size: 10px;
}

.guia-icons.s-11px {
    font-size: 11px;
}

.guia-icons.s-12px {
    font-size: 12px;
}

.guia-icons.s-13px {
    font-size: 13px;
}

.guia-icons.s-14px {
    font-size: 14px;
}

.guia-icons.s-15px {
    font-size: 15px;
}

.guia-icons.s-16px {
    font-size: 16px;
}

.guia-icons.s-17px {
    font-size: 17px;
}

.guia-icons.s-18px {
    font-size: 18px;
}

.guia-icons.s-19px {
    font-size: 19px;
}

.guia-icons.s-20px {
    font-size: 20px;
}

.guia-icons.s-21px {
    font-size: 21px;
}

.guia-icons.s-22px {
    font-size: 22px;
}

.guia-icons.s-23px {
    font-size: 23px;
}

.guia-icons.s-24px {
    font-size: 24px;
}

.guia-icons.s-25px {
    font-size: 25px;
}

.guia-icons.s-26px {
    font-size: 26px;
}

.guia-icons.s-27px {
    font-size: 27px;
}

.guia-icons.s-28px {
    font-size: 28px;
}

.guia-icons.s-29px {
    font-size: 29px;
}

.guia-icons.s-30px {
    font-size: 30px;
}

.guia-icons.s-31px {
    font-size: 31px;
}

.guia-icons.s-32px {
    font-size: 32px;
}

.guia-icons.s-33px {
    font-size: 33px;
}

.guia-icons.s-34px {
    font-size: 34px;
}

.guia-icons.s-35px {
    font-size: 35px;
}

.guia-icons.s-36px {
    font-size: 36px;
}

.guia-icons.s-37px {
    font-size: 37px;
}

.guia-icons.s-38px {
    font-size: 38px;
}

.guia-icons.s-39px {
    font-size: 39px;
}

.guia-icons.s-40px {
    font-size: 40px;
}

.guia-icons.s-41px {
    font-size: 41px;
}

.guia-icons.s-42px {
    font-size: 42px;
}

.guia-icons.s-43px {
    font-size: 43px;
}

.guia-icons.s-44px {
    font-size: 44px;
}

.guia-icons.s-45px {
    font-size: 45px;
}

.guia-icons.s-46px {
    font-size: 46px;
}

.guia-icons.s-47px {
    font-size: 47px;
}

.guia-icons.s-48px {
    font-size: 48px;
}

.guia-icons.s-49px {
    font-size: 49px;
}

.guia-icons.s-50px {
    font-size: 50px;
}

.guia-icon-ifood:before {
    content: "\e905";
    color: #808283;
}

.guia-icon-tiktok:before {
    content: "\e906";
}

.guia-icon-x:before {
    content: "\e907";
}

.guia-icon-twitter:before {
    content: "\e907";
}

.guia-icon-pix:before {
    content: "\e908";
}

.guia-icon-facebook1:before {
    content: "\e903";
    color: #1877f2;
}

.guia-icon-google:before {
    content: "\e904";
    color: #4285f4;
}

.guia-icon-visa:before {
    content: "\e902";
}

.guia-icon-account-circle:before {
    content: "\f0009";
}

.guia-icon-arrow-up:before {
    content: "\f005d";
}

.guia-icon-arrow-up-thick:before {
    content: "\f005e";
}

.guia-icon-arrow-up-drop-circle:before {
    content: "\f0062";
}

.guia-icon-basket:before {
    content: "\f0076";
}

.guia-icon-cart:before {
    content: "\f0110";
}

.guia-icon-chevron-double-up:before {
    content: "\f013f";
}

.guia-icon-chevron-down:before {
    content: "\f0140";
}

.guia-icon-chevron-left:before {
    content: "\f0141";
}

.guia-icon-chevron-right:before {
    content: "\f0142";
}

.guia-icon-chevron-up:before {
    content: "\f0143";
}

.guia-icon-clock-outline:before {
    content: "\f0150";
}

.guia-icon-close:before {
    content: "\f0156";
}

.guia-icon-close-box:before {
    content: "\f0157";
}

.guia-icon-close-box-outline:before {
    content: "\f0158";
}

.guia-icon-close-circle:before {
    content: "\f0159";
}

.guia-icon-close-circle-outline:before {
    content: "\f015a";
}

.guia-icon-credit-card-outline:before {
    content: "\f019b";
}

.guia-icon-emoticon-sad-outline:before {
    content: "\f01f8";
}

.guia-icon-facebook:before {
    content: "\f020c";
}

.guia-icon-filter:before {
    content: "\f0232";
}

.guia-icon-filter-outline:before {
    content: "\f0233";
}

.guia-icon-filter-variant:before {
    content: "\f0236";
}

.guia-icon-headset:before {
    content: "\f02ce";
}

.guia-icon-image-filter-none:before {
    content: "\f02f6";
}

.guia-icon-information:before {
    content: "\f02fc";
}

.guia-icon-information-outline:before {
    content: "\f02fd";
}

.guia-icon-instagram:before {
    content: "\f02fe";
}

.guia-icon-magnify:before {
    content: "\f0349";
}

.guia-icon-magnify-minus:before {
    content: "\f034a";
}

.guia-icon-magnify-plus:before {
    content: "\f034b";
}

.guia-icon-map-marker:before {
    content: "\f034e";
}

.guia-icon-menu:before {
    content: "\f035c";
}

.guia-icon-pencil:before {
    content: "\f03eb";
}

.guia-icon-phone:before {
    content: "\f03f2";
}

.guia-icon-plus-circle:before {
    content: "\f0417";
}

.guia-icon-plus-circle-outline:before {
    content: "\f0419";
}

.guia-icon-share-variant:before {
    content: "\f0497";
}

.guia-icon-star:before {
    content: "\f04ce";
}

.guia-icon-star-half-full:before {
    content: "\f04d0";
}

.guia-icon-star-outline:before {
    content: "\f04d2";
}

.guia-icon-store:before {
    content: "\f04dc";
}

.guia-icon-thumb-down:before {
    content: "\f0511";
}

.guia-icon-thumb-down-outline:before {
    content: "\f0512";
}

.guia-icon-thumb-up:before {
    content: "\f0513";
}

.guia-icon-thumb-up-outline:before {
    content: "\f0514";
}

.guia-icon-twitter1:before {
    content: "\f0544";
}

.guia-icon-volume-high:before {
    content: "\f057e";
}

.guia-icon-whatsapp:before {
    content: "\f05a3";
}

.guia-icon-youtube:before {
    content: "\f05c3";
}

.guia-icon-magnify-minus-outline:before {
    content: "\f06ec";
}

.guia-icon-magnify-plus-outline:before {
    content: "\f06ed";
}

.guia-icon-volume-plus:before {
    content: "\f075d";
}

.guia-icon-volume-minus:before {
    content: "\f075e";
}

.guia-icon-check-decagram:before {
    content: "\f0791";
}

.guia-icon-account-group:before {
    content: "\f0849";
}

.guia-icon-image-plus:before {
    content: "\f087c";
}

.guia-icon-chevron-down-box:before {
    content: "\f09d6";
}

.guia-icon-chevron-down-box-outline:before {
    content: "\f09d7";
}

.guia-icon-chevron-left-box:before {
    content: "\f09d8";
}

.guia-icon-chevron-left-box-outline:before {
    content: "\f09d9";
}

.guia-icon-chevron-right-box:before {
    content: "\f09da";
}

.guia-icon-chevron-right-box-outline:before {
    content: "\f09db";
}

.guia-icon-chevron-up-box:before {
    content: "\f09dc";
}

.guia-icon-chevron-up-box-outline:before {
    content: "\f09dd";
}

.guia-icon-chevron-down-circle:before {
    content: "\f0b26";
}

.guia-icon-chevron-down-circle-outline:before {
    content: "\f0b27";
}

.guia-icon-chevron-left-circle:before {
    content: "\f0b28";
}

.guia-icon-chevron-left-circle-outline:before {
    content: "\f0b29";
}

.guia-icon-chevron-right-circle:before {
    content: "\f0b2a";
}

.guia-icon-chevron-right-circle-outline:before {
    content: "\f0b2b";
}

.guia-icon-chevron-up-circle:before {
    content: "\f0b2c";
}

.guia-icon-chevron-up-circle-outline:before {
    content: "\f0b2d";
}

.guia-icon-cart-arrow-right:before {
    content: "\f0c4e";
}

.guia-icon-pencil-outline:before {
    content: "\f0cb6";
}

.guia-icon-arrow-up-circle:before {
    content: "\f0ce1";
}

.guia-icon-arrow-up-circle-outline:before {
    content: "\f0ce2";
}

.guia-icon-check-bold:before {
    content: "\f0e1e";
}

.guia-icon-camera-plus:before {
    content: "\f0edb";
}

.guia-icon-camera-plus-outline:before {
    content: "\f0edc";
}

.guia-icon-credit-card:before {
    content: "\f0fef";
}

.guia-icon-basket-outline:before {
    content: "\f1181";
}

.guia-icon-phone-in-talk-outline:before {
    content: "\f1182";
}

.guia-icon-shopping-outline:before {
    content: "\f11d5";
}

.guia-icon-clock-time-four:before {
    content: "\f1442";
}

.guia-icon-share-variant-outline:before {
    content: "\f1514";
}

.guia-icon-basket-plus-outline:before {
    content: "\f1528";
}

.guia-icon-image-plus-outline:before {
    content: "\f1b46";
}

.guia-icon-account:before {
    content: "\f0004";
}

.guia-icon-airplane:before {
    content: "\f001d";
}

.guia-icon-broom:before {
    content: "\f00e2";
}

.guia-icon-car:before {
    content: "\f010b";
}

.guia-icon-emoticon-happy-outline:before {
    content: "\f01f5";
}

.guia-icon-google-plus:before {
    content: "\f02bd";
}

.guia-icon-hanger:before {
    content: "\f02c8";
}

.guia-icon-home:before {
    content: "\f02dc";
}

.guia-icon-monitor:before {
    content: "\f0379";
}

.guia-icon-school:before {
    content: "\f0474";
}

.guia-icon-security:before {
    content: "\f0483";
}

.guia-icon-hands-pray:before {
    content: "\f0579";
}

.guia-icon-wrench:before {
    content: "\f05b7";
}

.guia-icon-medical-bag:before {
    content: "\f06ef";
}

.guia-icon-map-marker-outline:before {
    content: "\f07d9";
}

.guia-icon-hammer1:before {
    content: "\f08ea";
}

.guia-icon-toolbox:before {
    content: "\f09ac";
}

.guia-icon-dog:before {
    content: "\f0a43";
}

.guia-icon-emoticon-happy:before {
    content: "\f0c71";
}

.guia-icon-home-city:before {
    content: "\f0d15";
}

.guia-icon-party-popper:before {
    content: "\f1056";
}

.guia-icon-lipstick:before {
    content: "\f13b5";
}

.guia-icon-clipboard-edit-outline:before {
    content: "\f14e6";
}

.guia-icon-umbrella-beach:before {
    content: "\f188a";
}

.guia-icon-account-outline:before {
    content: "\f0013";
}

.guia-icon-mail:before {
    content: "\e912";
}

.guia-icon-website:before {
    content: "\e909";
}

.guia-icon-auction:before {
    content: "\e901";
}

.guia-icon-judge:before {
    content: "\e901";
}

.guia-icon-rule:before {
    content: "\e901";
}

.guia-icon-hammer:before {
    content: "\e901";
}

.guia-icon-court:before {
    content: "\e901";
}

.guia-icon-swap-vert:before {
    content: "\e913";
}

.guia-icon-moped:before {
    content: "\e90a";
}

.guia-icon-connection:before {
    content: "\e90e";
}

.guia-icon-wifi:before {
    content: "\e90e";
}

.guia-icon-wave:before {
    content: "\e90e";
}

.guia-icon-compass:before {
    content: "\e90f";
}

.guia-icon-direction:before {
    content: "\e90f";
}

.guia-icon-location:before {
    content: "\e90f";
}

.guia-icon-flag:before {
    content: "\e910";
}

.guia-icon-report:before {
    content: "\e910";
}

.guia-icon-mark:before {
    content: "\e910";
}

.guia-icon-plus:before {
    content: "\e911";
}

.guia-icon-add:before {
    content: "\e911";
}

.guia-icon-sum:before {
    content: "\e911";
}

.guia-icon-fork-and-knife:before {
    content: "\e900";
}

.guia-icon-lunch:before {
    content: "\e900";
}

.guia-icon-food:before {
    content: "\e900";
}

.guia-icon-restaurant:before {
    content: "\e900";
}

.guia-icon-meal:before {
    content: "\e900";
}

.guia-icon-dinner:before {
    content: "\e900";
}

.guia-icon-logo-padrao:before {
    content: "\e914";
}

.guia-icon-snowflake-o:before {
    content: "\e90b";
}

.guia-icon-paw:before {
    content: "\e90c";
}

.guia-icon-wheelchair:before {
    content: "\e90d";
}
.guia-icon-bin:before {
    content: "\e917";
}