a {
  text-decoration: none;
}

.footer-box {
  color: #212529;
  background: #e5e5e5;
}

.footer-home {
  background: #e5e5e5;
  margin-top: 1rem;
}

.footer-bottom {
  background: #dddddd;
}

.btn-footer.black span {
  color: #fff;
  background: #3d464d;
  border-radius: 40px;
  padding: 10px;
}
